
.DS_Store
*.DS_Store
*.aux
*.log
*.out
*.gz
*.toc
.Rproj.user
R/.Rhistory
R/Maps/data/montrajet_5au11.geojson
R/Maps/data/montrajet_24au8.geojson
R/Maps/data/montrajet_12au18.geojson
R/Maps/test QC/.Rhistory
R/Maps/test QC/map_dash.Rmd
R/Maps/test QC/maps_QC.R
R/Rplots.pdf
