/*
    Code CSS site web Alec James van Rassel
    Copyright 2019 Alec James van Rassel
*/
#body {
    background-color: #EEEEEE;
    font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
    margin: 0;
}

/*********************************************

    Corps du site

**********************************************/

#container {
  background-color: white;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.container-quiz {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  padding-left: 35px;
  margin-bottom: 12px;
  user-select: none;
}
/*
  Cacher le checkbox de défaut du navigateur
*/
.container-quiz input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/*
  Créer le checkmark custom
*/
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee; /* créer une couleur grise pour le carré du checkbox */
}

.container-quiz:hover input ~ .checkmark {
  background-color: #ccc; /* couleur plus grise pour lorsque la souris est au-dessus du checkbox*/
}
.container-quiz input:checked ~ .checkmark {
  background-color: #2196F3; /* couleur bleu lorsque le checkbox est sélectionné */
}
/*
  Créer le checkmark (l'indicateur)
*/
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container-quiz input:checked ~ .checkmark:after {
  display: block; /*montrer le checkmark lorsque sélectionné */
}
/*
  Style du checkbox
*/
.container-quiz .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.inline-form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.slidecontainer {
  width: 100%;  /*  Width of the outside container */
}

.slider {
  -webkit-appearance: none; /*  override default CSS appearance  */
  appearance: none;
  width: 100%;  
  height: 25px;
  background: #99ccff; /*  light blue  */
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;  /*  time for transition on mouse hover  */
  transition: opacity .2s;
}

/*  Mouse hover over effects  */
.sllider:hover {
  opacity: 1; /*  opacity of 100% means that on hover it will be fully shown  */
}

.slider::-wekbit-slider-thumb {
  -webkit-appearance: none; /*  override default CSS appearance  */
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

#header {
    background-color: #005DF1;
    color: white;
    text-align: center;
    padding: 10px;
}

#content {
    padding: 0 10px 15px 10px;
}

#nav {
    width: 180px;
    float: left;
}

#nav.selected {
    font-weight: bold;
}
a {
    text-decoration: none;
    color: teal;
}

#nav ul {
    list-style-type: none;
    padding: 5px;
}

#main {
    width: 600px;
    float: right;
}
/*********************************************

    Footer du site

**********************************************/
#footer {
    clear: both;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background-color: #999999;
    color: white;
}
